*

# Allow project files, Git, build system, and source.
!.gitignore
!README.md
!LICENSE
!CMakeLists.txt
!CMake/
!*.h
!*.cc

# Custom additions
# Figure out why the submodules are tracked, or if this is normal behavior.
freetype2/
SDL2-2.0.5/
**bin/
